<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ct.tribe.mapper.TribeBuildingMergeMapper">

    <resultMap id="BaseResultMap" type="com.ct.tribe.domain.TribeBuildingMerge">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tribeId" column="tribe_id" jdbcType="BIGINT"/>
            <result property="buildingId" column="building_id" jdbcType="BIGINT"/>
            <result property="buildingCount" column="building_count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tribe_id,building_id,
        building_count
    </sql>
</mapper>
